<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yellowmoonsoftware.gmcatalog.gmdb.api.mybatis.mappers.GMDBMapper">
    <select id="getTranscribers" resultType="com.yellowmoonsoftware.gmcatalog.gmdb.api.dto.output.Transcriber" parameterType="string">
        select id, name from transcriber
        <where>
            <if test="searchName != null">
                name ~* #{searchName}
            </if>
        </where>
    </select>

    <select id="songSearch" parameterType="com.yellowmoonsoftware.gmcatalog.gmdb.api.dto.input.SongSearchCriteria" resultType="com.yellowmoonsoftware.gmcatalog.gmdb.api.dto.output.SongSearchResult">
        select
            s.id,
            s.title,
            case when (s.details->>'trackNumber' ~ '^\d+$') then (s.details->>'trackNumber')::int end track_number,
            s.album_id
        from song s
        <where>
            <if test="criteria.titleSearch != null and criteria.titleSearch != ''">
                s.title ~* #{criteria.titleSearch}
            </if>
            <if test="criteria.pubNameSearch != null and criteria.pubNameSearch != ''">
                and exists (
                    select *
                    from transcription t
                        inner join pub p on t.pub_id = p.id
                        inner join pub_idx pi on p.pub_idx_id = pi.id
                    where t.song_id = s.id
                        and pi.name ~* #{criteria.pubNameSearch}
                )
            </if>
            <if test="criteria.albumSearch != null and criteria.albumSearch != ''">
                and exists (
                    select *
                    from album a
                    where a.id = s.album_id
                        and a.title ~* #{criteria.albumSearch}
                )
            </if>
            <if test="criteria.artistSearch != null and criteria.artistSearch != ''">
                and (
                    exists (
                        select *
                        from song_artist sa
                            inner join artist a on sa.artist_id = a.id
                        where sa.song_id = s.id
                            and a.name ~* #{criteria.artistSearch}
                    )
                    or exists (
                        select *
                        from album al
                            inner join artist a on al.primary_artist_id = a.id
                        where al.id = s.album_id
                            and a.name ~* #{criteria.artistSearch}
                    )
                )
            </if>
            <if test="criteria.albums != null and !criteria.albums.isEmpty()">
                and s.album_id in
                <foreach collection="criteria.albums" item="albumId" open="(" separator="," close=")">
                    #{albumId}
                </foreach>
            </if>
            <if test="criteria.pubs != null and !criteria.pubs.isEmpty()">
                and exists (
                    select *
                    from transcription t
                    where t.song_id = s.id
                        and t.pub_id in
                        <foreach collection="criteria.pubs" item="pubId" open="(" separator="," close=")">
                            #{pubId}
                        </foreach>
                )
            </if>
        </where>
    </select>

    <sql id="pubSearchSelect">
        select
            p.id,
            pi.name,
            pi.type,
            p.details || jsonb_build_object('@type', pi.type::text) as details,
            p.pub_date,
            pi.serial_number,
            pi.id as pub_index_id
        from pub p
                 inner join pub_idx pi on p.pub_idx_id = pi.id
    </sql>

    <select id="getPub"
            resultType="com.yellowmoonsoftware.gmcatalog.gmdb.api.dto.output.PubSearchResult">
        <include refid="pubSearchSelect"/>
        where p.id = #{pubId}
    </select>

    <select id="pubSearch"
            parameterType="com.yellowmoonsoftware.gmcatalog.gmdb.api.dto.input.PubSearchCriteria"
            resultType="com.yellowmoonsoftware.gmcatalog.gmdb.api.dto.output.PubSearchResult">
        <include refid="pubSearchSelect"/>
        <where>
            <if test="criteria.hasTranscriptions">
                exists(select * from transcription t where t.pub_id = p.id)
            </if>
            <if test="criteria.searchName != null and criteria.searchName != ''">
                and (name ~* #{criteria.searchName} or coalesce(details->>'issueName', details->>'edition') ~* #{criteria.searchName})
            </if>
            <if test="criteria.type != null">
                and pi.type = #{criteria.type}::pub_type
            </if>
            <trim prefix="and (p.pub_date is null or (" prefixOverrides="AND " suffix="))">
                <if test="criteria.dateStart != null">
                    p.pub_date &gt;= #{criteria.dateStart}
                </if>
                <if test="criteria.dateEnd != null">
                    and p.pub_date &lt;= #{criteria.dateEnd}
                </if>
            </trim>
        </where>
        order by p.pub_date nulls first,
            pi.name,
            p.details->>'volume' nulls first,
            p.details->>'issue' nulls first,
            p.details->>'issueName' nulls first,
            p.details->>'edition' nulls first,
            p.id
    </select>

    <select id="getPubIndex" resultType="com.yellowmoonsoftware.gmcatalog.gmdb.api.dto.db.PubIndexOut">
        select
            id,
            name,
            type,
            serial_number,
            null as action
        from pub_idx
        where id = #{pubIdxId}
    </select>
</mapper>
